* {
    font-family: monospace;
    font-size: 11pt;
    color: #c4c4c4;
    box-sizing: border-box;
    text-decoration: none;
}body, html {
    background-color: #171717;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fnc {
    color: #cac89a;
}.str {
    color:  #ca856e;
}.pair {
    color: #ffcf2f;
}.mrgn {
    margin-right: 5px;
}

.txt-icon {
    width: 14px;
    position: relative;
    top: 3px;
    margin: 0px 4px;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 320px;
    background-color: #1d1d1d;
    border: 1px solid #262626;
    padding: 40px 20px;
}

.buttons-arrray {
    position: absolute;
    bottom: 10px;
}.button-class {
    background-color: #171717;
    border: 1px solid #262626;
    color: #c4c4c4;
    font-size: 10pt;
    padding: 6px 12px;
}.button-class:hover {
    background-color: #303035;
    cursor: pointer;
}.btn-cls {
    display: inline-block;
}

.button-class:hover + .popup {
    opacity: 1;
}.popup {
    opacity: 0;
    background-color: #171717;
    border: 1px solid #262626;
    color: #c4c4c4;
    padding: 4px 10px;
    position: relative;
    right: 12%;
    top: 5px;
}.popup-text {
    font-size: 9pt;
}